<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
		<link rel="stylesheet" href="styles.css" />
		<link rel="stylesheet" href="grades.css" />
		<title>Document</title>
	</head>
	

	
	<body class="tab_wid">
        <div class="container_bts_menu">
			<h1 class="title_btn_menu">Tabla de Grados</h1>
		<!-- ejs con un for of que muestra solamente los nombres de los grados -->
		<table class="tab_wid">
			<thead>
				<th class="col1">ID</th>
				<th class="col2">Grado</th>
				<th class="col3">Descripcion</th>
				<th class="col4">Seccion</th>
			</thead>
			<tbody>
				<% let i = 1 %> <% for(element of locals.valuesGrades) { %> <%
				i++ %> 
				<tr <% if(i%2 == 0){%> class="table_row_grey" <%}%> >
					<td class="col1"><%= element.id %></td>
					<td class="col2"><%= element.grade%></td>
					<td class="col3"><%= element.detail %></td>
					<td class="col4"><%= element.section%></td>
				</tr>
				<% } %>
				
			</tbody>
		</table>
    </div>
<a href="/"><button class="btn_primary-home"><span class="material-icons">
	home</span></button></a>
	</body>
</html>
