<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/styleTeachers.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="tab_cont">
        <div class="container_bts_menu">
            <h1 class="title_btn_menu">Tabla de Maestros</h1>
        <table class="tab_wid">
            <thead>
                <tr>
                <th class="th_brdline col1 th" scope="col">Id</th>
                <th class="th_brdline col2 th" scope="col">Name</th>
                <th class="th_brdline col3 th" scope="col">email</th>
                </tr>
            </thead>
            <tbody>
             <% let i = 1 %> <% for(item of locals.valuesTeachers) { %> <%
                i++ %> 
             <tr <% if(i%2 == 0){%> class="table_row_grey" <%}%> >
             <td class="col1 td" scope="row"><%= item.id%>  </td>
             <td class="col2 td" scope="row"><%= item.name %>  </td>
             <td class="col3 td" scope="row"><%= item.email %></td>
             <% } %> 
             </tr>
            </tbody>
        </table>
    </div>
</div>
    <div  class="btn_actions formFlex">
        <form action="/save" method = "post" class=""> 
            <div>
                <input type="text" name = "inputTeach" placeholder="Nombre del maestro" id="inputTeach" class="input">
                <button type="submit" class="btn btn_primary">GUARDAR</button>
            </div>
            <div>
            </div>
        </form>
        <div class="btn_home">
            <a href="/"><button class=" btn"><span class="material-icons md-10">
                home
            </span></button></a>
        </div>
    </div>
</body>
</html>