@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--tablefont_tai: 'Tai Heritage Pro', serif;
}
.grades-main {
	display: flex;
	flex-flow: nowrap;
	flex-grow: 1;
	flex-shrink: 1;
}

.grades {
	display: flex;
	flex-direction: column;
}

.col4 {
	text-align: center;
	width: 150px;
	padding: 7px;
}

.col2 {
	text-align: left;
	width: 150px;
	padding-left: 2%;
}

.col3 {
	text-align: left;
	width: 90px;
	padding-right: 3px;
}

.col1 {
	margin: 30px;
	width: 150px;
	padding-left: 16px;
}

body {
	background-color: #f1f1f1;
}

.exit_button_lib {
	padding: 8px 16px;
	margin: 5px;
	border-radius: 1.5em;
	background-color: red;
	border-style: none;
	font-weight: 500 !important;
	/* text-transform: uppercase; */
	font-family: var(--tablefont_tai);
	padding: 6px 14px;
	font-size: 18px;
	margin: 5px;
	border-radius: 1.5em;
	margin-left: 30px;
	color: white;
}

.btn_primary-home {
	background-color: var(--primary);
	color: white;
	border: none;
	margin-left: 50px;
	border-radius: 3px;
}
